[submodule "ext/dinosaur"]
	path = ext/dinosaur
	url = https://github.com/MatthewThe/dinosaur.git
[submodule "ext/maracluster"]
	path = ext/maracluster
	url = https://github.com/statisticalbiotechnology/maracluster.git
[submodule "ext/percolator"]
	path = ext/percolator
	url = https://github.com/percolator/percolator.git
[submodule "ext/proteomicore"]
	path = ext/proteomicore
	url = https://github.com/MatthewThe/proteomicore.git
